<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.one.mapper.CRecogsMapper">

    <!-- 领取手机号进行电话拨打 -->
    <select id="pickup" resultType="com.web.dto.DtoDBRecogs">
        SELECT
        a.*, b.pickuptime, b.mark
        FROM
        recogs a
        LEFT JOIN batchlog b ON a.batchid = b.batchid
        WHERE
        (
        ISNULL(b.pickuptime)
        OR b.pickuptime  &lt;  NOW()
        )
        AND (
        ISNULL(a.`status`)
        OR a.`status` = 1
        OR a.manualresult = 8
        )
        AND ISNULL(b.batchid)=FALSE
        ORDER BY
            seqid
        LIMIT 0,
         50
    </select>

  <!-- 根据 商户号，手机号，流水号 查询 手机号状态识别记录-->
  <select id="selectRecogs" resultType="mybatis.one.po.DBRecogs">
      SELECT
      a.*
      FROM
      recogs a

      WHERE  1=1
      <if test="batchid != null and batchid != ''" >
          AND a.batchid = #{batchid}
      </if>
      <if test="status != null " >
          AND a.status = #{status}
      </if>
      <if test="result != null " >
          AND a.result = #{result}
      </if>
      <if test="manualresult != null " >
          AND a.manualresult = #{manualresult}
      </if>
      <if test="mobile != null and mobile != ''" >
          AND a.mobile = #{mobile}
      </if>

    ORDER BY
	a.seqid ASC
	
	<if test="pagesize != null" >
		LIMIT #{start}, #{pagesize}
    </if>
	
  </select>
  
  <!-- 根据 商户号，手机号，流水号 查询 手机号状态识别记录, 返回 总数量 -->
  <select id="totalRecogs" resultType="java.lang.Integer" >
  	  SELECT
		COUNT(*)
      FROM
      recogs a

      WHERE  1=1
      <if test="batchid != null and batchid != ''" >
          AND a.batchid = #{batchid}
      </if>
      <if test="status != null " >
          AND a.status = #{status}
      </if>
      <if test="result != null " >
          AND a.result = #{result}
      </if>
      <if test="manualresult != null " >
          AND a.manualresult = #{manualresult}
      </if>
      <if test="mobile != null and mobile != ''" >
          AND a.mobile = #{mobile}
      </if>
  </select>


    <!-- 根据 商户号，批次号， 查询 批次导入记录-->
    <select id="selectBatchLogs" resultType="mybatis.one.po.DBBatchLog">
        SELECT
        a.*
        FROM
        batchlog a

        WHERE  1=1
        <if test="merchid != null and merchid != ''" >
            AND a.merchid = #{merchid}
        </if>
        <if test="batchid != null and batchid != ''" >
            AND a.batchid = #{batchid}
        </if>

        ORDER BY
        a.seqid DESC

        <if test="pagesize != null" >
            LIMIT #{start}, #{pagesize}
        </if>

    </select>

    <!-- 根据 商户号，批次号 查询 批次导入记录, 返回 总数量 -->
    <select id="totalBatchLogs" resultType="java.lang.Integer" >
        SELECT
        COUNT(*)
        FROM
        batchlog a

        WHERE  1=1
        <if test="merchid != null and merchid != ''" >
            AND a.merchid = #{merchid}
        </if>
        <if test="batchid != null and batchid != ''" >
            AND a.batchid = #{batchid}
        </if>
    </select>

    <!--  查询一个批次里面，已经完成识别的 记录, 包括识别结果1,2,3,4， 识别状态 4， 9， 11， 12 -->
    <select id="selectBatchRecogCount" resultType="mybatis.one.po.DBRecogs">
        SELECT * FROM   recogs a
        WHERE
            1 = 1
        AND (
        (a. STATUS = 4  AND  (  a.result = 1
            OR a.result = 2
            OR a.result = 3
            OR a.result = 4 ))
        OR  a. STATUS = 9
        OR  a. STATUS = 11
        OR  a. STATUS = 12
        OR  a. STATUS = 8
        )
        AND a.batchid=#{batchid}
        ORDER BY
            receivetime
    </select>

    <!--  查询某个批次的 统计结果 -->
    <select id="selectResultStatistic" resultType="com.web.dto.BatchStatisticDto">
        SELECT `result`, COUNT(seqid) AS rowscount  FROM recogs WHERE batchid=#{batchid} GROUP BY `result`
    </select>


    <!--  批量插入案件详情 -->
    <insert id="insertCaseBatch">
        insert into zncontact ( importbatchid, caseno, serino,
        prelation, pname, ptel, telck,
        ptel1, tel1ck ) values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            ( '${batchid}', #{item.caseNo}, #{item.serino},
            #{item.prelation}, #{item.pname},
            #{item.ptel}, #{item.telck},
          #{item.ptel1}, #{item.tel1ck} )
        </foreach>
    </insert>

    <!--  批量插入案件 -->
    <insert id="insertCaseData">
        INSERT INTO zncasedata (caseno, createtime)
        ( SELECT DISTINCT  caseno, NOW() as createtime FROM zncontact WHERE caseno not in (SELECT caseno FROM zncasedata)  )
    </insert>

    <!--  查询批量案件中的电话号码，过滤重复 -->
    <select id="queryPhone" resultType="com.web.dto.MTMDataDto">
        SELECT DISTINCT a.* FROM
        (
        SELECT DISTINCT ptel as phone, caseno FROM zncontact  WHERE importbatchid=#{batchid}
        UNION
        SELECT DISTINCT ptel1 as phone, caseno FROM zncontact  WHERE importbatchid=#{batchid}
        ) as a  WHERE ISNULL(a.phone)=FALSE AND a.phone &lt;&gt;  ''
        ORDER BY a.caseno
    </select>

    <!--  删除临时表里面，某商户的全部数据 -->
    <delete id="deleteTmpPhoneByMerchId">
        DELETE FROM tmpphone WHERE merchid=#{merchid}
    </delete>

    <!--  将各个批量插入的案件 的电话号码，批量写入 临时表 -->
    <insert id="insertTmpPhoneBatch">
        insert into tmpphone ( merchid, phone ) values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            ( '${merchid}', #{item} )
        </foreach>
    </insert>

    <!-- 查询电话号码的识别结果，  需要写回 zncontact 的数据 -->
    <select id="queryRecogResult" resultType="com.web.dto.DtoDBRecogs">
        SELECT DISTINCT
            a.*, c.caseno,
            c.serino
        FROM
            recogs a
        LEFT JOIN importbatch b ON a.batchid = b.batchid
        LEFT JOIN zncontact c ON b.importbatchid = c.importbatchid
        WHERE
            1 = 1
        AND (c.ptel=a.mobile OR c.ptel1=a.mobile)
        AND a.merchid = 'znadmin'
        AND (
        (a. STATUS = 4  AND  (  a.result = 1
            OR a.result = 2
            OR a.result = 3
            OR a.result = 4 ))
        OR  a. STATUS = 9
        OR  a. STATUS = 11
        OR  a. STATUS = 12
        )
        ORDER BY
            batchid,
            seqid
    </select>

    <!-- 查询临时表的电话号码，过滤掉 recogs表里面 尚未拨打的电话号码 -->
    <select id="selectTmpPhone" resultType="java.lang.String">
        SELECT
            a.phone
        FROM
            tmpphone a
        WHERE
            merchid = #{merchid} AND
            a.phone NOT IN (
                SELECT
                    mobile
                FROM
                    recogs
                WHERE
                    merchid = #{merchid}
                AND ISNULL(calltime)
            )
    </select>

    <!--  将从临时表得到的过滤过的电话号码，写入 recogs表 继续拨打 -->
    <insert id="insertTmpPhoneToRecogsBatch">
        insert into recogs ( merchid, batchid, mobile, createtime) values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            ( '${merchid}', '${batchid}', #{item}, '${createtime}')
        </foreach>
    </insert>

    <!--  A：债务人可以联系上  债务人有 019 暂不接听或者 012 关机的  -->
    <select id="countForStatusA" resultType="java.lang.Integer">
        select COUNT(*) from zncontact b where b.prelation=0
            and ( b.telck='019' or b.tel1ck='019'  or   b.telck='012' or b.tel1ck='012') and caseno=#{caseno}
    </select>

    <!-- B:  债务人联系不上，联系人可以联系上 ,  联系人有019 暂不接听的-->
    <select id="countForStatusB" resultType="java.lang.Integer">
        select COUNT(*) from zncontact b where b.prelation!=0
            and ( b.telck='019' or b.tel1ck='019' )  and caseno=#{caseno}
    </select>

    <select id="selectNoRecogContactCase" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM zncontact WHERE   (seqstatus &lt;&gt; '101'  OR ISNULL(seqstatus) ) AND caseno =#{caseno}
    </select>

    <!-- C：债务人联系不上，联系人也没有可接通，只有关机 ，  联系人有 012 关机的-->
    <select id="countForStatusC" resultType="java.lang.Integer">
        select COUNT(*) from zncontact b where b.prelation!=0
            and ( b.telck='012' or b.tel1ck='012' )  and caseno=#{caseno}
    </select>

    <!-- D: 债务人联系不上，联系人连关机都没有，全部停机，  联系人没有 012 关机的 -->
    <select id="countForStatusD">
    </select>

    <!--  查询可以待写回 兆能资产 的 联系人记录   -->
    <select id="selectZNContactResult" resultType="mybatis.one.po.DBZNContact">
        SELECT * FROM zncontact WHERE `seqstatus`='101' LIMIT 0,500
    </select>

    <!--  查询可以待写回 兆能资产 的 案件状态记录   -->
    <select id="selectZNCaseDataResult" resultType="mybatis.one.po.DBZNCaseData">
        SELECT * FROM zncasedata WHERE `status`=101 AND  (ISNULL(categorize2)=FALSE AND categorize2  &lt;&gt; '' )  LIMIT 0,500
    </select>

    <!-- 批量更新 映射 联系人表  zncontact   暂时作废-->
    <update id="batchUpdateZNContactStatus" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE zncontact SET seqstatus = '201' WHERE caseno = '${item.caseno}' AND serino = '${item.serino}'
        </foreach>
    </update>

    <!-- 批量更新 映射 案件表  zncasedata   暂时作废 -->
    <update id="batchUpdateZNCaseDataStatus" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update zncasedata
            <set>
                seqstatus = '201'
            </set>
            where caseno = #{item.caseno}
        </foreach>
    </update>

</mapper>